In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv('../data/train.csv')

In [19]:
df.shape

(404290, 6)

In [20]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [21]:
new_df = df.sample(30000)

In [22]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [23]:
new_df.duplicated().sum()

0

In [24]:
ques_df = new_df[['question1', 'question2']]
ques_df.head()

,question1,question2
324149,How can I express my feelings?,Why can't I express feelings?
395977,What are some first-hand experiences with the ...,What are some first-hand experiences with the ...
69443,What are some of the best escort services in B...,What is the best escort service provider in Ba...
148073,Which is a good inpatient drug and alcohol reh...,Which is a good inpatient drug and alcohol reh...
158965,How do you write an appreciation email?,How can I write an email politely?

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
# Merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(), 2)

In [26]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [27]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
324149,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69443,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148073,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158965,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172457,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
145836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
349904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10925,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230613,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(temp_df.iloc[:, :-1].values, temp_df.iloc[:, -1].values, test_size=0.2, random_state=1)

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9995

In [32]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[5996    0]
 [   2    2]]

In [30]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.9996666666666667

In [33]:
print(confusion_matrix(y_test, y_pred))

[[5996    0]
 [   2    2]]